<template name="testimonials">
    <section id="hungry-testimonials" class="section-container parallax">

        <div class="grid-container">

            <!-- START Section Heading -->
            <div class="wow fadeIn" data-wow-duration="2s" data-wow-offset="250">
                <h1 class="section-heading-alt-title">Opiniões dos clientes<span>&hellip;</span></h1>
            </div>
            <!-- END Section Heading -->

            <!-- Testimonial 01 -->
            <div class="wow fadeInLeft" data-wow-duration="2s" data-wow-offset="250">
                <div class="prefix-10 grid-35 suffix-5 tablet-grid-50 mobile-grid-100">
                    <div class="hungry-testimonial">
                        <blockquote>&quot;I strongly urge you to try the Chef's<br /> Special,
                            You'll love it!&quot;</blockquote>
                        <img src="images/demo/testimonial-thumbnails/testimonial-thumbnail-01.jpg" alt="Testimonial Thumbnail Image" />
                        <cite>Christina from <a href="#">Stockton, Cleveland</a></cite>
                    </div>
                </div>
            </div>

            <!-- Testimonial 02 -->
            <div class="prefix-5 grid-35 suffix-10 tablet-grid-50 mobile-grid-100">
                <div class="wow fadeInRight" data-wow-duration="2s" data-wow-offset="250">
                    <div class="hungry-testimonial">
                        <blockquote>&quot;Great Food. Great Staff.<br />
                            Great Service. Good Times!&quot;</blockquote>
                        <img src="images/demo/testimonial-thumbnails/testimonial-thumbnail-02.jpg" alt="Testimonial Thumbnail Image" />
                        <cite>John from <a href="#">Red Falls, Colorado</a></cite>
                    </div>
                </div>
            </div>

            <br class="clear" />

            <!-- Testimonial 03 -->
            <div class="wow fadeInLeft" data-wow-duration="2s" data-wow-offset="250">
                <div class="prefix-10 grid-35 suffix-5 tablet-grid-50 mobile-grid-100">
                    <div class="hungry-testimonial">
                        <blockquote>&quot;The Entertainment was<br />
                            Top Notch!&quot;</blockquote>
                        <img src="images/demo/testimonial-thumbnails/testimonial-thumbnail-03.jpg" alt="Testimonial Thumbnail Image" />
                        <cite>Leonard from <a href="#">Phoenix, Arizona</a></cite>
                    </div>
                </div>
            </div>

            <!-- Testimonial 04 -->
            <div class="prefix-5 grid-35 suffix-10 tablet-grid-50 mobile-grid-100">
                <div class="wow fadeInRight" data-wow-duration="2s" data-wow-offset="250">
                    <div class="hungry-testimonial">
                        <blockquote>&quot;Excellent food.<br />
                            Highly Recommended!&quot;</blockquote>
                        <img src="images/demo/testimonial-thumbnails/testimonial-thumbnail-04.jpg" alt="Testimonial Thumbnail Image" />
                        <cite>Theresa from <a href="#">Bellflower, Oregon</a></cite>
                    </div>
                </div>
            </div>

        </div>

    </section>
</template>