<template name="cardapio">
    <section id="hungry-menu" class="section-container">

        <!-- START Section Heading -->
        <div class="wow fadeInDown" data-wow-duration="2s" data-wow-offset="250">
            <header class="section-heading">
                <h2 class="section-heading-title">Cardápio Interativo</h2>
                <div class="section-heading-subtitle-container tilt-left">
                    <h4 class="section-heading-subtitle">Delicie-se</h4>
                </div>
            </header>
        </div>
        <!-- END Section Heading -->

        <div class="grid-container">

            <div class="grid-45 suffix-5 tablet-prefix-5 tablet-grid-90 tablet-suffix-5 mobile-grid-100">

                <div class="hungry-menu wow zoomIn" data-wow-duration="2s" data-wow-offset="250">
                    <h2 class="hungry-menu-title header-divider">Entradas</h2>

                    <ol class="hungry-menu-list">
                        {{#each entradas}}
                            {{> cardapioItem}}
                        {{/each}}
                    </ol>

                </div>

                <div class="hungry-menu wow zoomIn" data-wow-duration="2s" data-wow-offset="250">
                    <h2 class="hungry-menu-title header-divider">Sobremesas</h2>

                    <ol class="hungry-menu-list">
                        {{#each sobremesas}}
                                {{> cardapioItem}}
                        {{/each}}
                    </ol>

                </div>

            </div>

            <div class="prefix-5 grid-45 tablet-prefix-5 tablet-grid-90 tablet-suffix-5 mobile-grid-100">

                <div class="hungry-menu wow zoomIn" data-wow-duration="2s" data-wow-offset="250">
                    <h2 class="hungry-menu-title header-divider">Pratos Principais</h2>

                    <ol class="hungry-menu-list">
                        {{#each pratosPrincipais}}
                            {{> cardapioItem}}
                        {{/each}}
                    </ol>

                </div>

                <div class="hungry-menu wow zoomIn" data-wow-duration="2s" data-wow-offset="250">
                    <h2 class="hungry-menu-title header-divider">Bebidas</h2>

                    <ol class="hungry-menu-list">
                        {{#each bebidas}}
                            {{>cardapioItem}}
                        {{/each}}
                    </ol>

                </div>

            </div>

        </div>

    </section>
</template>

<template name="cardapioItem">
    <li class="hungry-menu-item">
        <a href="images/demo/menu-main/menu-item-large-01.jpg"
           class="lightbox hungry-thumbnail-link"
           title="Aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus et magnis dis.">
            <img src="{{imageURL}}" class="hungry-menu-item-thumbnail" alt="Garlic Bread Thumbnail" />
            <div class="hungry-thumbnail-overlay">
                <i class="fa fa-search-plus"></i>
            </div>
        </a>
        <div class="hungry-menu-item-container">
            <a href="template-recipe-single.html" class="hungry-menu-item-header">
                <h3 class="hungry-menu-item-title">{{nome}}</h3>
                <h4 class="hungry-menu-item-price {{#if isSpecial}}special-tooltip{{/if}}" title="{{observacao}}">{{preco}}</h4>
            </a>
            <div class="hungry-menu-item-excerpt">
                {{teste}}
                <p>{{descricao}}</p>
            </div>
        </div>
    </li>
</template>