<template name="navigation">
    <!-- START Navigation -->
    <div class="nav-container grid-80 tablet-grid-50 mobile-grid-50">

        <!-- Mobile Nav Icon (Hamburger) -->
        <div class="mobile-nav">
            <i class="fa fa-bars"></i>
        </div>

        <nav class="main-navigation" role="navigation">

            <!-- Mobile Menu Header -->
            <div class="mobile-header hide-on-desktop">
                <h2>Navigation</h2>
                <div class="mobile-close">
                    <i class="fa fa-times"></i>
                </div>
            </div>

            <!-- Main Navigation -->
            <ul class="sf-menu">
                <li><a href="index.html#hungry-top">Início</a></li>
                <li><a href="index.html#hungry-about-us">Sobre</a></li>
                <li><a href="index.html#hungry-menu">Cardápio</a>
                    <ul>
                        <li><a href="template-menu-one-column.html">Single Column Layout</a></li>
                        <li><a href="template-menu-two-columns.html">Two Column Layout</a></li>
                        <li><a href="template-menu-three-columns.html">Three Column Layout</a></li>
                    </ul>
                </li>
                <li><a href="index.html#hungry-staff">Nossa equipe</a></li>
                <li><a href="index.html#hungry-gallery">Galeria</a></li>
                <li><a href="index.html#hungry-blog">Eventos</a>
                    <ul>
                        <li><a href="template-blog-overview.html">Overview Page</a></li>
                        <li><a href="template-blog-single-right-sidebar.html">Single Entry Page</a>
                            <ul>
                                <li><a href="template-blog-single-left-sidebar.html">Left Sidebar</a></li>
                                <li><a href="template-blog-single-right-sidebar.html">Right Sidebar</a></li>
                                <li><a href="template-blog-single-full-width.html">Full Width</a></li>
                                <li><a href="template-blog-single-narrow.html">Narrow</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="index.html#hungry-reservations">Reservas</a></li>
            </ul>

        </nav>
    </div>
    <!-- END Navigation -->
</template>